.container {
  .header {
    .headerImg {
      width: 100%;
    }
  }

  .content {
    .aboutMe {
      text-align: center;
      padding: 50px;
      .title {
        font-size: 45px;
        font-weight: bold;
      }
      .txt {
        margin: 40px;
        font-size: 30px;
        line-height: 70px;
        color: #555555;
        font-weight: 300;
      }
    }
    .what {
      padding: 50px;
      text-align: left;

      .whatTitle {
        text-align: center;
        font-size: 45px;
        font-weight: bold;
      }
      .whatTxt {
        margin: 40px;
        font-size: 30px;
        line-height: 70px;
        color: #555555;
        font-weight: 300;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        .contact {
          // text-decoration-line:underline;
          border-bottom: 1px solid #000000;
          color: #000000;
        }
      }
      strong {
        color: #000000;
      }
      small {
        font-size: 20px;
      }
    }
  }
}
