.container {
  padding: 30px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.profile {
  padding-top: 32px;
}

.shareBlock {
  position: fixed;
  top: 50%;
  right: 12px;
}
